# Ignore built files
build/
build-android/

# Ignore ROMs and stuff
data/bytepusher/
data/chip8/
data/gameboy/
data/ps1/
data/nes/

# Ignore VSCode workflows
.vscode/

# Ignore building scripts
build.bat
build-android.sh
build.sh